<?xml version="1.0" encoding="utf-8"?>
<Configuration status="info">
    <properties>
        <Property name="layout">%d [%t] %-5p %c- %m%n</Property>
    </properties>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${layout}"/>
        </Console>
        <!--<Servlet name="Servlet">-->
            <!--<PatternLayout pattern="%m%n%ex{none}"/>-->
        <!--</Servlet>-->
    </appenders>

    <loggers>
        <root level="info">
            <!--<appender-ref ref="Servlet"/>-->
            <appender-ref ref="Console"/>
        </root>
        <logger name="org.achacha" level="debug">
            <appender-ref ref="Console"/>
        </logger>
    </loggers>
</Configuration>