<?xml version="1.0" encoding="utf-8"?>
<!-- status is used for logging level of log4j, set to debug to see more about log4j -->
<Configuration status="info">
    <Properties>
        <Property name="layout">%d{HH:mm:ss.SSS} [%t] %-5level %logger{3}(%class{1}.%method:%line) %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${layout}"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- additivity prevents message duplication, when false messages are not routed to parent logger -->
        <Logger name="org.achacha" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>